<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag("CASLOGO.png") %>
    <% end %>
  <div class="nav-bar-container">
    <h1 class="header">Contemporary Arts Soceity</h1>
  <%# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> %>
    <div class="button-wrapper d-flex">
      <%= link_to "ABOUT US", events_path, class: "navbar-link" %>
      <%= link_to "EVENTS", events_path, class: "navbar-link" %>
      <%= link_to "FEED", events_path, class: "navbar-link" %>
      <%= link_to "PROFILE", events_path, class: "navbar-link" %>
    </div>
  </div>
</div>
