<div class="main-container">
  <h2>UPCOMING EVENTS</h2>
  <div class="filter">
    <p><strong>FILTER:</strong></p>
    <p><%= simple_form_for :filters, url: events_path, method: :get do |f| %>
      <%= f.input :category, label: false, as: :radio_buttons, collection: [['social', 'SOCIALS'], ['seminar', 'SEMINARS'], ['other', 'OTHER']], label_method: :second, value_method: :first, input_html: { onchange: 'this.form.submit();' } %>
    <% end %></p>
  </div>

  <div class="other-container" style="padding-top: 20px;">

    <% @events.each do |event| %>
      <div class="events-card" data-aos="zoom-out-up" data-aos-duration=90>
        <% if event.photo.attached? %>
          <%= cl_image_tag event.photo.key, height: 150, width: 200, crop: :fill, class: "event-photo" %>
          <%# BREAKS IF THIS ISN'T WRAPPED IN IF STATEMEMENT CHECKING FOR ATTACHED PHOTO !!!!!! %>
        <% end %>
        <li class="name">
          <p><%=event.name%></p>
        </li>
        <li class="info">
          <p><%=event.description%></p>
        </li>
        <li class="info">
          <p><strong>LOCATION: </strong><%=event.location%></p>
        </li>
        <li class="info">
          <p><strong>DATE: </strong><%=event.date.strftime("%b %d, %Y")%></p>
        </li>
        <%=link_to "MORE INFO", new_event_booking_path(event)%>
      </div>
    <% end %>
    <div class="new-event-card">
      <div class="inside-new-event-card">
        <%=link_to "CREATE NEW EVENT", new_event_path%>
      </div>
    </div>
  </div>
</div>
