<div id="thing" class="new-event form-container mt-2 m-fadeOut">
  <%= simple_form_for :join, url: joins_path do |form| %>
    <p class="name"><strong>NAME:</strong> <%="#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" %></p>
    <p class="email"><strong>EMAIL:</strong> <%="#{current_user.email}" %></p>
    <div class="application-input">
      <%= form.input :year, prompt: "Select Your Academic Year", collection: ["Year 1", "Year 2", "Year 3", "Year 4", "Masters", "PhD"] %>
      <%= form.input :position, prompt: "Select A Position", collection: ["President", "Secretary", "Treasurer", "Social Secretary", "Publicity Officer", "Events Manager", "Social Media Manager", "Content Creator"] %>
      <%= form.input :application, as: :text, placeholder: "Write a short description of why you want to join our committee, and what you would bring to CAS!" %>
      <%= form.button :submit, id: "sweet-alert-button", class: 'btn btn-primary', value: "Submit Your Application"%>
    </div>
  <% end %>
</div>
<div style="display: flex; position: relative">
  <div>
    <div class="app-phrase-card application-headings">
      <h3>JOIN OUR COMMITTEE!</h3>
      <h2>Applications to be on CAS committee are now open.</h2>
      <p>Apply now to stand for a position in our upcoming election (:<p>
    </div>
    <%# <div class="inverse-phrase-card">
    </div> %>
    <div class="app-phrase-card app-phrase-card2">
      <%# <p>Positions available:</p> %>
      <div class="application-committee-info">
        <div class="committee-positions">
          <h2>Available positions:</h2>
          <ul>
            <li>President x1</li>
            <li>Social Secretary x1</li>
            <li>Treasurer x1</li>
            <li>Secretary x1</li>
          </ul>
        </div>
        <div class="committee-positions">
          <ul>
            <li>Events Manager x1</li>
            <li>Social Secretary x1</li>
            <li>Publicity Officer x1</li>
            <li>Content Creator x4</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex outside-button" style="flex-direction: column; justify-content: center;">
    <button class="apply-now-button align-middle" id="tog">APPLY NOW</button>
  </div>
</div>
