<%# <h1>This is my profile</h1> %>

  <div class="profile-wrapper">
    <div class="item1">
      <h2 class="home-column-title">MY EVENT BOOKINGS:</h2>
      <%# style="width:500px" %>
      <div class="cards", style="margin: 30px 51px;">
        <% @bookings.reverse[0..4].each do |booking| %>
          <% if booking.user_id == current_user.id %>
            <%= cl_image_tag booking.event.photo.key, height: 150, width: 200, crop: :fill %>
            <li class="name">
              <p><%=booking.event.name%></p>
            </li>
            <li class="info">
              <p><%=booking.event.description%></p>
            </li>
            <li class="info">
              <p><strong>LOCATION: </strong><%=booking.event.location%></p>
            </li>
            <li class="tickets">
              <p>Tickets: <%= booking.tickets_count %></p>
            </li>
            <%# <%= link_to 'Edit', edit_booking_path(booking)  %>
            <%# <%= link_to 'Delete', booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="item1">
      <h2 class="home-column-title">MY SAVED CONTENT:</h2>
      <% @feed_items.each do |f| %>
        <%# <div class="feed-items-card"> %>
          <% if current_user.favorited?(f) %>
            <% if f.url %>
              <%= link_to cl_image_tag(f.photo.key), f.url, class: "profile-feed-item-photo", href: f.url, target: "blank"%>
            <% end %>
            <% if f.description %>
              <div class="profile-flip">
                <div class="">
                  <li class="feed-item-info">
                  <%= cl_image_tag f.photo.key, crop: :fill, class: "profile-feed-item-photo saved-img"%>
                    <p><%=f.description%></p>
                  </li>
                </div>
                <div class="">
                </div>
              </div>
            <% end %>
          <% end %>
        <%# </div> %>
      <% end %>
    </div>


  </div>
