<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="<%= meta_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="CAS - Contemporary Art Society" />
    <meta property="og:url" content="http://www.cas-art.me/" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:image" content="../../assets/images/og.png" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <%= favicon_link_tag asset_path("CASLOGO.png") %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
    <%= render 'shared/footer' %>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>


        AOS.init();


    </script>
  </body>
</html>
<%# we made the height of the fotter 10vh and then did the same to the bo %>
